<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org //DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.userMapper">
    <!--int insertUser();-->
    <insert id="insertUser">
        insert into t_user values(null,'admin','123456','23','男','123456@qq.com')
    </insert>
    <!--void updateUser();-->
    <update id="updateUser">
        update  t_user set username = '张三' where id = 6
    </update>
    <!--void deleteUser();-->
    <delete id="deleteUser">
        delete from t_user where id = 3
    </delete>
    <!--user getUserById();-->
    <select id="getUserById" resultType="mybatis.user">
        select * from t_user where id = 10
    </select>
    <!--List<user> getAllUser();-->
    <select id="getAllUser" resultType="mybatis.user">
        select * from t_user
    </select>

    
</mapper>